@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header,.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header{
    margin-top: 10px;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px;
    list-style-type: none;
    padding-left: 0;
    font-size: medium;
}

a {
    color: black;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
}

.footer{
    background-color: lightgray;
}

button{
    padding: 10px;
}